<!-- wp:template-part {"slug":"header","tagName":"header","className":"ctos-header"} /-->
<!-- wp:template-part {"slug":"section-hero"} /-->
<!-- wp:template-part {"slug":"section-welcome"} /-->
<!-- wp:template-part {"slug":"section-consumer-products"} /-->
<!-- wp:template-part {"slug":"section-commercial-products"} /-->
<!-- wp:template-part {"slug":"section-app-promo"} /-->
<!-- wp:template-part {"slug":"section-knowledge-centre"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"ctos-footer"} /-->
