<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"4rem","bottom":"4rem"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group">

  <!-- wp:post-title {"style":{"typography":{"lineHeight":"1.1","letterSpacing":"-1px"},"color":{"text":"var(--wp--preset--color--ctos-dark)"}},"fontSize":"2xl"} /-->

  <!-- wp:post-content {"layout":{"type":"constrained"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
